@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h4 style="color:red">Usuarios Supervisores</h4>
    <h5>Usuario, Email: supervisor0@prueba.com</h5>
    <h5>Password: PruebaSu_0**</h5>
    <h5>Usuario, Email: supervisor1@prueba.com</h5>
    <h5>Password: PruebaSu_1**</h5>
    <h4 style="color:red">Usuarios Agentes</h4>
    <h5>Usuario, Email: agente0@prueba.com</h5>
    <h5>Password: PruebaAg_0**</h5>
    <h5>Usuario, Email: agente1@prueba.com</h5>
    <h5>Password: PruebaAg_1**</h5>
    <h5>...</h5>
    <h5>Usuario, Email: agente9@prueba.com</h5>
    <h5>Password: PruebaAg_9**</h4>
</div>
